<notextile>
	<div class="alert-enterprise">
		<div class="media">
			<div class="media-left">
				<span class="label-enterprise label-enterprise-lg">Enterprise</span>
			</div>
			<div class="media-body">
				This feature requires <a href="https://www.hashicorp.com/products/<%= product %>/" target="_blank"><%= product.titleize %> Enterprise</a>
			</div>
		</div>
	</div>
<notextile>